:root{
    --color-1: #fff;
    --color-2: #222;
    --color-3: #cccbcb;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    text-align: center;
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--color-1);
    background-color: black;
}
#marco{
    justify-items: center;
}
#marco img {
    max-width: 100%;  
    object-fit: contain; 
}


#countdown {
    font-family: Arial, sans-serif;
    font-size: 2em;
    text-align: center;
    color: #ffffff;
    background-color: rgb(0, 0, 0);
    padding: 15px;
    border-radius: 10px;
}

#marco-cuenta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 150px;
    background-color: darkgray;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    margin-bottom: 20px;
}
#marco-cuenta h3{
    margin: 0;
    font-size: x-large;
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#marco iframe{
    max-width: 100%;  
    max-height: 300px;
    object-fit: contain; 

}
#donde{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}
#donde img{
    height: 60px;
}
footer{
    background-color: #222;
    color: #757575;
    text-align: center;
    height: 50px;
    align-items: center;
}

